html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Poppins";
  font-size: 22px;
  margin: auto;
}

#header {
  background-image: url("../img/bgf.png");
  width: 100%;
  display: table;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about {
  background-image: url("../img/about.png");
  width: 100%;
  display: table;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#join-comm {
  background-image: url("../img/join.png");
  width: 100%;
  display: table;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}
#footer {
  background-color: #525252;
  color: white;
  padding-top: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

h6 {
  margin: 0;
}
.about-content {
  padding-left: 32%;
  padding-right: 32%;
}

.header-ill {
  width: 30%;
}

.logo {
  width: 400px;
}
.illustration-contact {
  width: 400px;
}

/* -------- Navbar -------------*/

.navbar {
  margin-top: 25px;
  margin-bottom: 40px;
}

li {
  float: center;
  display: inline-block;
  padding: 0 10px;
}

li a {
  display: block;
  width: 80px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: rgb(134, 134, 134);
}
/* -------- End Navbar -------------*/

/* -------- Header -------------*/

.navbar-section {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* -------- EndHeader -------------*/

/* -------- Header -------------*/

.header {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ill-header {
  position: absolute;
  top: 55%;
  left: 60%;
  transform: translate(-50%, -50%);
}

/* -------- End Header -------------*/

/* -------- Typography -------------*/
h1 {
  color: #474747;
}
p {
  color: #5e5e5e;
}
/* -------- End Typography -------------*/

.join-button {
  width: 18%;
  background: linear-gradient(to right, #c62c76, #d348ea);
  color: white;
  padding: 20px 35px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.join-button:hover {
  background: linear-gradient(to right, #ca6596, #e08fee);
  color: white;
}

/* -------- Contact form -------------*/
input {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  font-family: "Poppins";
}
textarea {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: "Poppins";
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 50px;
  background-image: url("../img/card.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.submit-button {
  width: 40%;
  background: linear-gradient(to right, #c62c76, #d348ea);
  color: white;
  padding: 20px 35px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}

.submit:hover {
  background: linear-gradient(to right, #ca6596, #e08fee);
  color: white;
}
/* -------- End Contact form -------------*/

/* -------- Columns-------------*/
/* Float four columns side by side */
.column {
  float: left;
  width: 47%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column-position-right {
  text-align: right;
}
.column-position-left {
  text-align: left;
}
@media (max-width: 900px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .column-position-right {
    text-align: center;
  }
  .column-position-left {
    text-align: center;
  }
}

/* -------- Columns-------------*/

@media (max-width: 1025px) {
  li a {
    font-size: 15px;
  }
  .logo {
    width: 300px;
  }

  .about-content {
    padding-left: 5%;
    padding-right: 5%;
  }

  .header-ill {
    width: 290px;
  }

  .join-button {
    width: 75%;
  }

  .card {
    width: 80%;
  }

  .submit-button {
    width: 60%;
    padding: 15px 25px;
  }
}
